body{
    background-color: brown;
}

a,div{
    font-size: 20px;
    text-decoration: none;
    color: white;
    text-transform: capitalize;
}
/* styles.css */
.topic {
    display: inline-flex;
    border: 2px solid blue;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    width: 100px;
    flex-direction: row;
}
